* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
      }
    
      @media (max-width: 1200px) {
        html {
          font-size: 80%;
          color: #F2B6CC;
        }
      }
      
      /* 980px / 16px = 61.25em */
      @media (max-width: 980px) {
        html {
          font-size: 40%;
          color:blue;
        }
      }
    
    #navbar {   
    width: 100%;
    background-color:#F2D5DD;
    position: fixed;
    }
    
    .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    }
    
    
    .nav-list a {
        display: block;
        color: #f0f0f0;
        text-shadow: 4px 4px 4px pink;
        padding: 1.5rem;
        font-size: xx-large;
    }
    
    .nav-list a:hover {
        background-color:#F2B6CC;
    }
    
    a {
        text-decoration: none;
      }
    